body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 25px 0;
    position: relative;
}

.search-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.search-form button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #4CAF50;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #f1f1f1;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.values {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}
.value-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    flex-basis: 30%;
}

.value-item h2 {
    color: #4CAF50;
}

.footer {
    background-color: forestgreen;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
